* {
    /* dejar todo en el mismo patron */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {

    /* dejar todos os buttons iguales */
    cursor: pointer;
}

body {

    /* Queiro que el color de fundo sea negro */
     background: rgba(0, 0, 0, 0.943) url(assets/try.gif); 
    /* Queiro que el color de las cosas sea blanco */
    color: rgb(213, 224, 10);
    font-size: 25px;
    /* Para ocupar toda la pantalla */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

    /* background-image: url(assets/planets.jpg); */
    /*background: rgba(125, 180, 216, 0.788); */
    


}

.container {

    /* class container: modificando dentro del div donde estarán las preguntas */
    background-color: rgba(27, 27, 30, 0.875);
    width: 70%;
    max-width: 800%;
    /* border radius para dejar la borde un poco redondeado */
    border-radius: 40px;
    padding: 30px;
    border: 2px solid #fbff06;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.questions-container {

    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* espacio que usamos para el espacio de los elementos que están dentro del div, en este caso los botones */
    gap: 7px;
    justify-content: center;

}

.questions {

    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.answers {

    grid-template-columns: 2fr 2fr;
    gap: 20px;
    display: grid;
    width: 100%;
    font-size: 15px;
}

.next-question {

    margin-top: 15px;

}

.button {

    background-color: rgb(97, 97, 212);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    height: 50px;
    padding: 0 100px;
    border-radius: 10px;
    text-align: center;
    transition: filter 0.9s;
    

}
/* Si el botón está seleccionado, elimine el sombreado sobre los botones */
button:not(:disabled):hover {

    filter: brightness(0.4);
    
}
 /* El user no puede selecionar la respuesta dos veces, el button se queda disabled */
.button:disabled {
    cursor: not-allowed;
}

.hide {

    display: none;
    
}

.correct {

    background-color: green;

}

.incorrect {

    background-color: red;
}

.final-message {

    font-size: 25px;
    text-align: center;
    
    
    
}

.final-message span {

    display: block;
    margin-top: 15px;

}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}

footer {

    text-align: center;
}