* {
    /* dejar todo en el mismo patron */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {

    /* dejar todos os buttons iguales */
    cursor: pointer;
}

body {

    /* Queiro que el color de fundo sea negro */
    /* background: rgba(35, 34, 34, 0.742) url(assets/cranio.jpg) no-repeat center; */
    /* Queiro que el color de las cosas sea blanco */
    color: white;
    /* Para ocupar toda la pantalla */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 219, 219);

}

.container {

    /* class container: modificando dentro del div donde estarán las preguntas */
    background-color: rgba(136, 136, 143, 0.771);
    width: 45%;
    max-width: 800%;
    /* border radius para dejar la borde un poco redondeado */
    border-radius: 35px;
    padding: 30px;
    border: 2px solid #e6141b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.questions-container {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* espacio que usamos para el espacio de los elementos que están dentro del div, en este caso los botones */
    gap: 15px;
    justify-content: center;

}

.questions {

    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.answers {

    grid-template-columns: 2fr 2fr;
    gap: 20px;
    display: grid;
    width: 100%;
    font-size: 15px;
}

.next-question {

    margin-top: 15px;

}

.button {

    background-color: rgb(97, 97, 212);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    height: 50px;
    padding: 0 100px;
    border-radius: 10px;
    text-align: center;
    transition: filter 0.4s;

}

button:hover {

    filter: brightness(0.9);
}

.hide {

    display: none;

}

.correct {

    background-color: green;

}

.incorrect {

    background-color: red;
}